# Оформляйте ноутбук, используя эти советы:

## Номер задачи - заголовок 2

### Номер подзадачи - заголовок 3

Предоставленные наборы данных оформляйте, как код

Рекомендации для преподавателей по оценке задания:
- Смотреть, чтобы студент красиво оформлял ноутбук
- Использовал ячейки с текстом
- Указывал номера заданий

## Условие 2:

На складе лежат разные фрукты в разном количестве.

Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def total_fruits(**kwargs):
    res = sum(kwargs.values())
    return res

total_fruits(bananas = 5, apples = 6, pears = 7, plums = 7)

25

## Условие 3:

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

In [2]:
data_original = [100, 125, -90, 345, 655, -1, 0, 200]

#### Используйте list comprehensions

In [3]:
data_new = sum([i if i > 0 else 0 for i in data_original])
data_new

1425

## Условие 4:

Даны два списка.

In [4]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

In [5]:
summa_per_date = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре

Используйте list comprehensions

In [6]:
def nov_rev(d: list[str], a: list[int]):
    res = sum(a[i] for i in range(len(d)) if '-11-' in d[i])
    return res

print('Выручка компании в ноябре - ', nov_rev(date, summa_per_date), 'руб.')

Выручка компании в ноябре -  25098 руб.

### 4.2 Найдите выручку компании в зависимости от месяца

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

Используйте аннотирование типов.

In [7]:
def monthly_rev(data: list[str], amount: list[int]):
    monthly_d = {}
    for i in range(len(data)):
        month = data[i][0:7]
        if month not in monthly_d:
            monthly_d[month] = amount[i]
        else:
            monthly_d[month] += amount[i]
    return monthly_d

monthly_rev(date, summa_per_date)

{'2021-09': 25647, '2021-12': 45452, '2021-10': 28645, '2021-11': 25098}